/*Font added*/

/* font 1 Inter */
.inter-normal {
  font-family: "inter";
  font-optical-sizing: auto;
  font-style: normal;
}

/* font 2 Raleway */

.Raleway-regula {
  font-family: "Raleway";
  font-optical-sizing: auto;
  font-style: normal;
}

/*This button is responsible for nav bar*/
.signup-bton {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  width: 132px;
  height: 48px;

  margin: 36px 12px;
  border-radius: 10px;
  background-color: #4e47ff;
  gap: 16px;
  border: none;
  cursor: grab;
}
.signup-bton:hover {
  font-size: 17.5;
  font-weight: bolder;
  font-style: italic;
  border: navy solid 1px;
  background-color: blueviolet;
  cursor: grabbing;
}

/* Total magarment  */
* {
  margin: 0;
  padding: 0;
}

.content-X {
  width: 1440px;
  margin: 0 auto;
}

/* 🚩 nav-bar styles  🚩*/
.my-head {
  background-image: url(../../B12A01-landing-launchpad/Assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 1440px;
  height: 698px;
}

nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

nav h3 {
  color: #4e47ff;
  font-size: 34px;
  font-weight: bold;
}
